name: Update Badges

on:
  schedule:
    - cron: "0 2 * * *"

jobs:
  run_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Pytest 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Download badges
      run: |
        python -m pip install requests
        python utils/download_badges.py
        echo ${{ github.ref }}
        git add .
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git commit -m "ci: Automated build push" -a | exit 0
    - name: Push changes
      if: github.ref == 'refs/heads/main'
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.SECRET_TOKEN }}
        branch: ${{ github.ref }}
